body {
  background: #333;
}

.container {
  max-width: 900px;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}
.container .post {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px;
  color: #eee;
}
.container .post a {
  text-decoration: none;
}
.container .post .head-info h4 {
  color: #91D9D9;
  font-weight: 500;
  font-size: 1.6em;
  margin: 5px 0;
}
.container .post .head-info h5 {
  color: #91D9D9;
  font-weight: 600;
  margin: 0;
}
.container .post .head-info h6 {
  margin: 5px 0;
  color: #a2a2a2;
}
.container .post .text > p {
  color: #eee;
  font-size: 0.9em;
}
.container .post .actions {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}
.container .post .actions a {
  color: #eee;
}
.container .post .actions a:hover {
  color: #91D9D9;
}
.container .post .actions div {
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
}
.container .post .actions div i {
  margin-right: 5px;
}
.container .post .actions div span {
  padding-left: 15px;
  font-weight: bold;
}
.container .post .actions div .up:hover {
  color: #91D9D9;
}
.container .post .actions div .down:hover {
  color: #FF625E;
}

.new-comment {
  max-width: 900px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
  border-bottom: 1px solid #a2a2a2;
  border-top: 1px solid #a2a2a2;
}
.new-comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.new-comment form textarea {
  border: none;
  resize: none;
  border-radius: 5px;
  background-color: gray;
  max-width: 900px;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.new-comment form textarea:focus {
  background-color: #eee;
  color: #333;
}
.new-comment form input[type=submit] {
  background-color: #91D9D9;
  border: none;
  border-radius: 5px;
  font-size: 0.85em;
  padding: 10px 15px;
  font-weight: 700;
}

.comment {
  padding: 20px;
  color: #eee;
}
.comment h6 {
  color: #6bcccc;
  margin: 0 5px;
}
.comment p {
  font-size: 0.85em;
  margin: 10px;
}
.comment .actions {
  display: flex;
}
.comment .actions div {
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
}
.comment .actions div i {
  margin-right: 2px;
}
.comment .actions div span {
  padding-left: 5px;
  font-weight: bold;
  font-size: 0.8em;
}
.comment .actions div .up:hover {
  color: #91D9D9;
}
.comment .actions div .down:hover {
  color: #FF625E;
}

.options-container {
  position: relative;
}
.options-container .options-button:hover {
  color: #91D9D9;
  cursor: pointer;
}
.options-container .options {
  background: #1a1a1a;
  border-radius: 5px;
  position: absolute;
  top: -60px;
  width: 100px;
  padding: 0 !important;
  box-shadow: 3px 3px 6px #1a1a1a;
}
.options-container .options div {
  cursor: pointer;
}
.options-container .options div:hover {
  background-color: #91D9D9;
  color: #333;
}
.options-container .options::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #1a1a1a transparent transparent transparent;
}

/*# sourceMappingURL=post.css.map */
