@import 'colors';

.tabs{
    background-color: darken($background, 12);
    ul{
        margin:0;
        padding: 0;
        list-style: none;
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        .option{
            color: $text;
            padding:20px 15px;
            text-decoration:  none;
        }
        .selected{
            background-color: darken($background, 18);
            color: $contrast;
            padding-bottom: 18px;
            border-bottom: 2px solid $contrast
        }
    }
}
main{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: $background;
    .container{
        max-width: 900px;
        width: 90%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        h2{
            display: flex;
            justify-content: center;
            color: $contrast;
            text-shadow: 1px 1px 3px darken($background,10);
            text-transform: capitalize;
            font-size: 1.9em;
            font-weight: 600;
        }
        .post{
            padding: 10px 20px;
            border: 1px solid darken($text,50);
            border-radius: 5px;
            margin: 10px;
            color: $text;
            a{
                text-decoration: none;
            }
            .head-info{
                h4{
                    color: $contrast;
                    font-weight: 500;
                    font-size: 1.6em;
                    margin: 5px 0;
                }
                h5{
                    color:$contrast;
                    font-weight: 600;
                    margin: 0;
                }
                h6{
                    margin:5px 0;
                    color: darken($text, 30);
                }
            }
            .text{
               
                p{  
                    position:relative;
                    width: 100%;
                    margin-bottom: 15px;
                    padding-bottom: 5px;
                    max-height:60px;
                    overflow:hidden;
                    font-size: 0.9em;
                    color:$text;
                    background: $background;
                    border-bottom: 1px solid darken($text,60);
                    &:after{
                        content:"";
                        position:absolute;
                        top:30px;
                        left:0;
                        height:40px;
                        width:100%;
                        background: -webkit-linear-gradient(rgba(0,0,0,0), $background);
                        background: linear-gradient(rgba(0,0,0,0), $background);
                    }
                }
            }
            .actions{
                align-content: flex-end;
                justify-content: flex-end;
                a{
                    color: $text;
                    &:hover{
                        color: $contrast;
                    }
                }
                div{     
                    padding: 5px 10px;
                    justify-content: center;
                    align-items: center;
                    i{
                        margin-right: 5px;
                    }
                   span{
                       padding-left: 15px;
                       font-weight: bold;
                   }
                   .up:hover{
                       color:$contrast
                   }
                   .down:hover{
                       color: $red;
                   }
                }

            }
        }
    }
}