@import 'colors';

div.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
    align-content: center;
    justify-content: space-between;
    background: darken($background, 10);
   
    .logo{
         margin-left: 20px;
         color: $contrast;
         font-family: $logo;
         font-size: 1.4em;
         font-weight: medium;
         letter-spacing: 3px;
         text-decoration: none
    }
    .user-side{
        color:$text;
        display: inline-flex;
        align-items: center;
        font-weight: 600;
        margin-right: 20px;
        span{
            margin-right: 10px;
        }
        .user{
            background-color: #FF625E;
            margin-right: 10px;
            overflow: hidden;
            border-radius: 30px;
            height: 30px;
            width: 30px;
            align-content: center;
            justify-content: center;
            display: flex;
        }
        
    }
    
    .users{
            position: absolute;
            background-color: darken($background, 30);
            color: $text;
            top: 50px;
            right: 20px;
            width: 140px;
            box-shadow: 3px 3px 6px darken($background, 40);
            border-radius: 5px;
            border: 1px solid darken($text, 50);
            div{
                padding:5px;
                
                &:hover{
                    background-color: $contrast;
                    cursor: pointer;
                    color: $background
                }
            }
        }
}
